*
!Dockerfile
!LICENSE
!MANIFEST.in
!README.md
!pyproject.toml
!docker/
!docker/**
!src/
!src/**
!tutorials/
!tutorials/**
!utils/
!utils/create_motion_comparison_usd.py
!utils/lung_bundle.py
tutorials/network_weights/
tutorials/output/
**/__pycache__/
**/*.py[cod]
